body{
    font-family: verdana;

}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    padding: 0.5rem;
}

nav a.select{
    border: solid 1px dodgerblue;
}

form{
    display: flex;
    flex-direction: column;
    border: solid 1px dodgerblue;
    margin: 1rem;
    padding: 1rem;
}

form > *{
    margin: 0.5rem;
}